body {
    box-sizing: border-box;
    color: #333333;
    font-family: arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 1rem;
    padding: 1rem 0;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header > a {
    text-decoration: none;
    color: #888888;
    margin-right: 1rem;
}

header > a:hover,
header > a:active {
    color: black;
    font-weight: bold;
}

.portrait {
    width: 250px;
    margin: 0 auto;
}

.main-content {
    flex-grow: 1;
}

form input[type="text"] {
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

form input[type="text"]:focus {
    border-color: black;
    border-width: 2px;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid #888888;
    background: #888888;
    color: white;
    border-radius: 5px;
    outline: none;
}

button:hover,
button:active {
    background: white;
    color: #888888;
}